.relative-parent{
    background: #156236;
}
/* .relative{
    background: #af8542;
    height: 100px;
    width: 300px;
    position: relative;
    top: 100px;
    left: 50px;
    cursor: crosshair;
} */

/* .absolute{
    background: #c590f5;
    height: 50px;
    width: 120px;
    position: absolute;
    text-align: center;
width: 400px;
margin: auto 0;
} */

.fixed{
    background: #a4c7;
    height: 50px;
    width: 300px;
    position: fixed;
    bottom: 60px;
    right: 32px;
    left: 47%;
    margin-left: -100px;
    top: 50%;
    
}